*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(-45deg,black,grey);
}

.container{
    border: solid black 1px;
    width: 70vw;
    padding: 10vw;
    border-radius: 5px;
    box-shadow: 0px 2px;
    background-image: linear-gradient(-45deg,rgb(255, 255, 255),rgba(255, 255, 255, 0.789));
}

.container h1{
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: -2px;
    word-spacing: 10px;
    position: absolute;
    top: 28vh;
    left: 30vw;
}
.field{
    position: absolute;
    left: 17vw;
    font-size: 25px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    width: 350px;
}

.btn{
    color: beige;
    background-color: rgb(1, 101, 1);
    border: none;
    padding: 12px;
    font-size: 20px;
    position: absolute;
    top: 60vh;
    border-radius: 10px;
    left: 49vw;
}
#fah{
    height: 50px;
    position: absolute;
    left: 70vw;
    font-size: 30px;
    padding: 2px 30px 2px 30px;
    border: solid black 2px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
}